<div class="float-right">
    <small>
        Su Carro :
        <span *ngIf="carro.numeroItems > 0">
            {{ carro.numeroItems}} Items 
            {{ carro.precioTotalCarro | currency:"CLP" : "symbol ":"2.2-2"}}
        </span>
        <span *ngIf="carro.numeroItems == 0">
              (carro vacio)
        </span>
    </small>
    <button class= "btn btn-sm bg-dark text-white " [disabled]="carro.numeroItems == 0"
    routerLink="/carro">
    <i class = "fa fa-shopping-cart"></i>
    </button>
</div>