<div class="container-fluid">
     <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">Tienda de Viajes</a>
        </div>
     </div>
     <div class="row ">
        <div class="col-3 p-2">
           <button class="btn btn-block btn-outline-primary" (click)="cambiaCategoria()">
              Todos Los Productos
            </button>
           <button *ngFor="let cat of categorias" class="btn btn-block btn-outline-primary"
             (click)="cambiaCategoria(cat)" [class.active]="cat == categoriaSeleccionada">
             {{ cat }}
           </button>
        </div>
         <div class="col-4 bg-success p-2 p-2">
             <div *ngFor="let producto of productos" class="card m-1 p-1 bg-light">
                 <h4>
                    {{ producto.nombre }}
                      <span class="badge badge-pill badge-primary float-right">
                         {{ producto.precio | currency:"USD":"symbol":"2.2-2"}}
                      </span>
                 </h4>  
                 <div class="card-text bg-white p-1">{{ producto.descripcion}}</div>  
             </div>
            <div class="form-inline float-left mr-1">
               <select class = "form-control" [value]="productosPorPagina" (change)="cambiaProductosPorPagina($event.target.value)">
                 <option value=2>2 por pagina</option>
                 <option value=4>4 por pagina</option>
                 <option value=6>6 por pagina</option>
               </select>
            </div>
            <div class="btn-group float-right">
                  <!--
                  <button *contador = "let pag of numerosPagina" (click)="cambiaPagina(pag)" class="btn btn-outline-primary"
                  [class.active] ="pag==paginaSeleccionada">{{pag}}
                 </button>-->
                <button *ngFor="let pag of numerosPagina" (click)="cambiaPagina(pag)" class="btn btn-outline-primary"
                [class.active] ="pag==paginaSeleccionada">{{pag}}
               </button>
               
               </div>
         </div>
     </div>

</div>